@component('card')
<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{ $title }}</div>
    <p class="text-grey-darker text-base">
      {{ $content }}
    </p>
  </div>
  <div class="px-6 py-4">
    {{ $actions }}
  </div>
</div>
@endcomponent