<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>OVHcloud Contest</title>
</head>
<body>
  <section>
   <h1>HOME</h1>
   @loggedIn
  You are logged in!
@else
  <a href="/login">Click here</a> to login.
@endloggedIn
  </section>
</body>
</html>
