@layout('base.layout')

@section('content')
  <section>
    <h1>OVH Start up Contest </h1>
    <div class="subtitle">
      <p>If any profits are generated, they will all be donated to the center for kids who can't read good and want to learn how to do other stuff good too</p>
    </div>
  </section>
@endsection

