<header>
  <ul>
    <li><a href="/">Front</a></li>
    @loggedIn
    <li><a href="/home">Home/Dashboard</a></li>
    <li><a href="/submit-startup">Submit Start up</a></li>
    @endloggedIn
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
</header>
