<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>OVHcloud Contest</title>
</head>
<body>
    @include('partials.main-menu')
    <div class="page-content">
        @!section('content') 
    </div>
</body>
</html>
